<div class="homepage-header d-flex align-items-center justify-content-center">
  <div class="header-bg--mobile">
    <!--<img class="slide-up hero-image&#45;&#45;blue-cross" src="/assets/icons/mobile/blue-cross.svg">-->
    <img class="slide-up hero-image--blue-bridge" src="/assets/icons/mobile/blue-bridge.svg">
    <img class="slide-down hero-image--blue-diamond" src="/assets/icons/mobile/blue-diamond.svg">
    <img class="slide-up hero-image--green-diagonal-squares" src="/assets/icons/mobile/diagonal-squares.svg">
    <img class="slide-down hero-image--green-pointer" src="/assets/icons/mobile/green-pointer.svg">
    <img class="slide-down hero-image--green-square" src="/assets/icons/mobile/green-square.svg">
    <img class="slide-up hero-image--top-light-blue-circle" src="/assets/icons/mobile/light-blue-circle.svg">
    <img class="slide-down hero-image--bottom-light-blue-circle" src="/assets/icons/mobile/light-blue-circle.svg">
    <img class="slide-down hero-image--red-chatbox" src="/assets/icons/mobile/red-chatbox.svg">
    <img class="slide-down hero-image--red-square" src="/assets/icons/mobile/red-square.svg">
    <img class="slide-down hero-image--red-diamond" src="/assets/icons/mobile/red-diamond.svg">
    <img class="slide-up hero-image--yellow-play-button-mobile" src="/assets/icons/mobile/yellow-play-button-mobile.svg">
    <img class="slide-up hero-image--yellow-sphere" src="/assets/icons/mobile/yellow-sphere.svg">
    <img class="slide-down hero-image--yellow-vertical-rectangle" src="/assets/icons/mobile/yellow-vertical-rectangle.svg">
  </div>
  <div class="inner">
    <div class="logo-container">
      <!--<img src="/assets/images/logo.svg" alt="">-->
      <img src="/assets/images/header-logo-0.svg" alt="">
      <figure class="header-logo header-logo-1"><img src="/assets/images/header-logo-1.svg" alt=""></figure>
      <figure class="header-logo header-logo-2"><img src="/assets/images/header-logo-2.svg" alt=""></figure>
      <figure class="header-logo header-logo-3"><img src="/assets/images/header-logo-3.svg" alt=""></figure>
      <figure class="header-logo header-logo-4"><img src="/assets/images/header-logo-4.svg" alt=""></figure>
    </div>
    <div class="description text-center">
      <div class="event-date">
        NOV 30，2019
      </div>
      <div class="event-description">
        <p class="mb-0">The biggest Google tech & businesses conference in Penang GeorgeTown carefully crafted for you
          by GDG & GBG
          community!
          <br>
          All about Android, Web, business successful stories and Cloud from the world experts.</p>
      </div>
    </div>
  </div>
  <div class="cta">
    <span class="cta-text">Explore the world of DevFest</span>
    <img class="cta-icon" src="/assets/icons/blue-down-carat.svg">
  </div>
</div>
<div class="homepage-speakers">
  <div class="container">
    <div class="title mb-5">
      <h3>Rockstar Speakers</h3>
    </div>
    <div class="speakers-list row pt-5">
      <div class="speaker-card col-12 col-md-6 col-lg-3" (click)="showDialog(item)" *ngFor="let item of items | async">
        <div class="speaker-image">
          <span></span>
          <figure>
            <img src="/assets/images/speakers/{{item.photo_url}}.jpg" alt="">
          </figure>
        </div>
        <div class="speaker-details">
          <div class="name">{{item.name}}</div>
          <div class="info">{{item.title}}</div>
        </div>
      </div>
      <!--<div class="speaker-card col-12 col-md-6 col-lg-3">-->
        <!--<div class="speaker-image">-->
          <!--<span></span>-->
          <!--<figure>-->
            <!--<img src="https://via.placeholder.com/277x269.png" alt="">-->
          <!--</figure>-->
        <!--</div>-->
        <!--<div class="speaker-details">-->
          <!--<div class="name">Dr. Poo Kuan Hoong</div>-->
          <!--<div class="info">ML, Google Developer Expert @ Kuala Lumpur</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="speaker-card col-12 col-md-6 col-lg-3">-->
        <!--<div class="speaker-image">-->
          <!--<span></span>-->
          <!--<figure>-->
            <!--<img src="https://via.placeholder.com/277x269.png" alt="">-->
          <!--</figure>-->
        <!--</div>-->
        <!--<div class="speaker-details">-->
          <!--<div class="name">Dr. Poo Kuan Hoong</div>-->
          <!--<div class="info">ML, Google Developer Expert @ Kuala Lumpur</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="speaker-card col-12 col-md-6 col-lg-3">-->
        <!--<div class="speaker-image">-->
          <!--<span></span>-->
          <!--<figure>-->
            <!--<img src="https://via.placeholder.com/277x269.png" alt="">-->
          <!--</figure>-->
        <!--</div>-->
        <!--<div class="speaker-details">-->
          <!--<div class="name">Dr. Poo Kuan Hoong</div>-->
          <!--<div class="info">ML, Google Developer Expert @ Kuala Lumpur</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="speaker-card col-12 col-md-6 col-lg-3">-->
        <!--<div class="speaker-image">-->
          <!--<span></span>-->
          <!--<figure>-->
            <!--<img src="https://via.placeholder.com/277x269.png" alt="">-->
          <!--</figure>-->
        <!--</div>-->
        <!--<div class="speaker-details">-->
          <!--<div class="name">Dr. Poo Kuan Hoong</div>-->
          <!--<div class="info">ML, Google Developer Expert @ Kuala Lumpur</div>-->
        <!--</div>-->
      <!--</div>-->

    </div>
  </div>
</div>
<div class="homepage-highlights">
  <div class="container">
    <div class="title">
      <span>#DevFestBizFestHighlights</span>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-md-4 homepage-highlights-item">
        <a href="">
          <figure>
            <img src="https://via.placeholder.com/160x90.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-12 col-md-4 homepage-highlights-item">
        <a href="">
          <figure>
            <img src="https://via.placeholder.com/160x90.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-12 col-md-4 homepage-highlights-item">
        <a href="">
          <figure>
            <img src="https://via.placeholder.com/160x90.png" alt="">
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="homepage-about">
  <div class="illustration illustration-rectangle bg-light-yellow"></div>
  <div class="illustration illustration-hand">
    <img src="/assets/images/green-pointer.svg" alt="">
  </div>
  <div class="illustration illustration-square"></div>
  <div class="content bg-light py-5">
    <div class="container">
      <div class="inner">
        <div class="overview">
          <div class="row">
            <div class="col-12">
              <h1 class="mb-4">Organizer</h1>
              <p>Come join in the fun with hundreds of tech enthusiasts and business professionals in our annual most
                epic dev and biz conference up north. In this one day conference, we cover six tracks filled with over
                25 talks and workshops by speakers from local and abroad. Due of last year of amazing support from all
                you guy we decide to maintain the awesomeness which mean we are continue bringing the 2 biggest flagship
                events powered by Google to you!
                <br><br>
                DevFest is a large community organised annual event with sessions & code labs for developers, students,
                startups and anyone interested to learn the latest trends and technical knowledge of Google platform,
                product APIs & open source technologies.
                <br><br>
                BizFest is the annual conference that aims to bring together professionals, business owners,
                entrepreneurs, startups, programmers and students to learn and share insights on innovations for the
                future. Participants will learn about how innovations have helped startups, businesses, communities
                achieve greater impact.
                <br><br>
                The organizing team spent delicate effort to bring to you speakers from abroad and locally, with more
                than 20 sessions to ensure maximum learning and fun!
                <br><br>
                Knowledge, skills, fun & swagsss, all in one day. Can you even resist it?
                <br><br>
                SEE YOU!</p>
            </div>
            <div class="col-12">
              <h3 class="pt-5">What is GDG & GBG?</h3>
            </div>
            <div class="col-12 col-md-6 mb-3 mb-md-0">
              <figure class="logo-container pt-4"><img src="/assets/images/logo-gdg.png" alt=""></figure>
              <p>Google Developers Group (GDG) - is open and volunteer geek community who create exciting projects and
                share experience about Google technologies with a passion.</p>
            </div>
            <div class="col-12 col-md-6">
              <figure class="logo-container pt-4"><img src="/assets/images/logo-gbg.png" alt=""></figure>
              <p>Google Business Group (GBG) brings context to technologies.We’re a community of individuals,
                entrepreneurs, startups and students brought together to collaborate, network, get inspired and learn
                from industry experts on technology for driving business success.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homepage-tickets mb-5">
  <div class="container">
    <div class="header text-center">
      <h1>Tickets</h1>
      <span class="illustration-play">
        <img src="/assets/images/ticket-play.svg" alt="">
      </span>
      <span class="illustration-rectangle bg-light-yellow"></span>
      <span class="illustration-circle"></span>
      <span class="illustration-ticket">
        <img src="/assets/images/ticket-ticket.svg" alt="">
      </span>
      <span class="illustration-triangle">
        <img src="/assets/images/ticket-triangle.svg" alt="">
      </span>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 ticket-item ticket-early-bird">
        <div class="inner">
          <div class="ticket-content">
            <div class="ticket-content-inner">
              <div class="ticket-name">
                Early Bird
              </div>
              <div class="ticket-date">
                ~ 21 Oct<br>
                Or first 250 tickets with Extra Swags
              </div>
              <div class="ticket-price">
                RM 10
              </div>
              <a href="" class="btn btn-primary btn-with-link d-md-flex justify-content-md-between">Get ticket</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 ticket-item ticket-regular">
        <div class="inner">
          <div class="ticket-content">
            <div class="ticket-content-inner">
              <div class="ticket-name">
                Regular
              </div>
              <div class="ticket-date">
                22 Oct - 20 Nov <br>
                Or until sold out
              </div>
              <div class="ticket-price">
                RM 10
              </div>
              <a href="" class="btn btn-primary btn-with-link d-md-flex justify-content-md-between">Get ticket</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket-disclaimer text-center">
      <p class="small">*Tickets grant access to all conference sections.</p>
    </div>
  </div>
</div>

<app-partner></app-partner>