<div class="page-header">
  <div class="container">
    <h1>Attending</h1>
  </div>
</div>

<div class="page-content">
  <div class="container">
    <div class="event">
      <div class="row attending-item mb-5">
        <div class="col-12 col-md-3">
          <h5>What to expect and explore</h5>
        </div>
        <div class="col-12 col-md">
          <p><strong>Meals</strong></p>
          <p>Attendees are offered complimentary breakfast, lunch. Check out the food menu below.</p>
          <div class="food-menu">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="food-menu-block">
                  <div class="food-menu-block-inner">
                    <p class="title">Breakfast</p>
                    <div class="food-menu-section">
                      <p><strong>Non-Vegetarian</strong></p>
                      <ul class="list-unstyled">
                        <li>Sandwiches</li>
                        <li>Curry Samosa</li>
                      </ul>
                    </div>
                    <div class="food-menu-section">
                      <p><strong>Drinks</strong></p>
                      <ul class="list-unstyled">
                        <li>Kopi-o</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="food-menu-block">
                  <div class="food-menu-block-inner">
                    <p class="title">Lunch</p>
                    <div class="food-menu-section">
                      <p><strong>Non-Vegetarian</strong></p>
                      <ul class="list-unstyled">
                        <li>Fried Bihun with chicken</li>
                        <li>Nasi Tomato</li>
                        <li>Ayam Masak Merah</li>
                        <li>Braised Assorted Mushroom with Broccoli</li>
                        <li>Fried Sausage & Chicken nuggets</li>
                        <li>Deep Fried Stuff Prawns with Salad</li>
                        <li>Ebiko Temaki</li>
                        <li>Cream Puff</li>
                        <li>Fruit Plate</li>
                      </ul>
                    </div>
                    <div class="food-menu-section">
                      <p><strong>Drinks</strong></p>
                      <ul class="list-unstyled">
                        <li>Longan Jelly with Soya Bean</li>
                        <li>Ice Cool Orange</li>
                      </ul>
                    </div>
                    <div class="food-menu-section">
                      <p><strong>* Vegetarian bento will be provided</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .attending-item -->
    </div>
    <div class="event">
      <div class="row attending-item mb-5">
        <div class="col-12 col-md-3">
          <h5>Getting to TARC</h5>
        </div>
        <div class="col-12 col-md">
          <p>Plan ahead, expect traffic delays, be patient, and consider carpooling.</p>
          <p><strong>Get transportation directions:</strong></p>
          <div class="download-buttons">
            <a href="https://goo.gl/maps/6UVJUXBkbpw" target="_blank" class="btn btn-primary btn-with-link mr-3">
              Google Map
            </a>
            <a href="https://www.waze.com/ul?ll=100.28494100%2C5.45318800&navigate=yes&zoom=16" target="_blank" class="btn btn-primary btn-with-link">
              Waze
            </a>
          </div>
        </div>
      </div> <!-- .attending-item -->
      <div class="row attending-item mb-5">
        <div class="col-12 col-md-3">
          <h5>Ridesharing</h5>
        </div>
        <div class="col-12 col-md">
          <p><strong>Download the Grab app from</strong></p>
          <div class="download-buttons">
            <a href="https://play.google.com/store/apps/details?id=com.grabtaxi.passenger" class="btn-download" target="_blank" class="btn btn-primary btn-with-link mr-3">Google Play</a>
            <a href="https://itunes.apple.com/my/app/grab-app/id647268330" class="btn-download" target="_blank" class="btn btn-dark btn-with-link">App Store</a>
          </div>
        </div>
      </div> <!-- .attending-item -->
      <div class="row attending-item">
        <div class="col-12 col-md-3">
          <h5>Parking</h5>
        </div>
        <div class="col-12 col-md">
          <p>Limited parking is available at TARC.</p>
          <a href="../assets/images/taruc-map.jpg" class="location-map"><img src="../assets/images/taruc-map.jpg" alt=""></a>
        </div>
      </div> <!-- .attending-item -->
    </div>
  </div>
</div>
