<div class="partner-section">
  <div class="container">
    <h3>Made Possible by</h3>
    <div class="partner-block">
      <h5>Partner With</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.google.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/google.svg" alt="">
        </a>
        <a href="https://www.tarc.edu.my/penang/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/logo-taruc.jpg" alt="">
        </a>
      </div>
    </div> <!-- .partner-block end -->
    <div class="partner-block">
      <h5>Sponsors</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.borderlessgeek.io/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/borderless-geek.png" alt="">
        </a>
        <a href="https://www.acer.com/ac/en/US/content/home" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/touch-n-go.png" alt="">
        </a>
        <a href="https://myfave.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/fave.png" alt="">
        </a>
        <a href="http://emanon.com.my/#!/page_HOME" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/emanon.svg" alt="">
        </a>
        <a href="https://greenroom.com.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/greenroom.svg" alt="">
        </a>
      </div>
    </div>

    <div class="partner-block">
      <h5>Community Partners</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <!--<a href="https://www.grab.com/my/" class="logo-item d-flex align-items-center" target="_blank">-->
          <!--<img src="/assets/images/partners/grab.png" alt="">-->
        <!--</a>-->
        <a href="https://www.womentechmakers.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/women-techmakers.png" alt="">
        </a>
        <a href="https://www.womenwill.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/womenwill.png" alt="">
        </a>
        <a href="https://developers.google.com/community/gdg" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/logo-gdg.png" alt="">
        </a>
        <a href="https://developers.google.com/community/gbg" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/logo-gbg.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
