<div class="partner-section">
  <div class="container">
    <h3>Made Possible by</h3>
    <div class="partner-block">
      <h5>Partner With</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.google.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/google.svg" alt="google">
        </a>
        <a href="https://www.tarc.edu.my/penang/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/logo-taruc.jpg" alt="taruc">
        </a>
      </div>
    </div> <!-- .partner-block end -->
    <div class="partner-block">
      <h5>Endorsed by</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/penang-state.jpg" alt="Penang State">
        </a>
      </div>
    </div> <!-- .partner-block end -->
    <div class="partner-block">
      <h5>Sponsors</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <a href="https://www.borderlessgeek.io/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/borderless-geek.png" alt="borderless geek">
        </a>
        <a href="https://www.tngdigital.com.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/touch-n-go.png" alt="touch n go">
        </a>
        <a href="/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/youth-for-future.png" alt="youth for future">
        </a>
        <a href="https://www.jazzhotelpg.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/jazz-hotel.jpg" alt="Jazz Hotel Penang">
        </a>
        <!--<a href="https://myfave.com/" class="logo-item d-flex align-items-center" target="_blank">-->
          <!--<img src="/assets/images/partners/fave.png" alt="fave">-->
        <!--</a>-->
        <a href="http://emanon.com.my/#!/page_HOME" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/emanon.svg" alt="emanon sdn bhd">
        </a>
        <a href="https://greenroom.com.my/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/greenroom.svg" alt="greenroom sdn bhd">
        </a>
        <a href="" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/play-penang.svg" alt="playpenang">
        </a>
      </div>
    </div>

    <div class="partner-block">
      <h5>Community Partners</h5>
      <div class="logo-wrapper d-flex flex-wrap">
        <!--<a href="https://www.grab.com/my/" class="logo-item d-flex align-items-center" target="_blank">-->
          <!--<img src="/assets/images/partners/grab.png" alt="">-->
        <!--</a>-->
        <a href="https://www.womentechmakers.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/women-techmakers.png" alt="women techmakers">
        </a>
        <a href="https://www.womenwill.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/womenwill.png" alt="womenwill">
        </a>
        <a href="https://developers.google.com/community/gdg" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/logo-gdg.png" alt="gdg georgetown">
        </a>
        <a href="https://developers.google.com/community/gbg" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/logo-gbg.png" alt="gbg georgetown">
        </a>
        <a href="https://acatpenang.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/acat.jpg" alt="@cat penang">
        </a>
        <a href="https://acatpenang.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/foward-school.jpg" alt="">
        </a>
        <a href="http://womenbizsense.com/" class="logo-item d-flex align-items-center" target="_blank">
          <img src="/assets/images/partners/women-biz-sense.jpg" alt="women biz sense">
        </a>
      </div>
    </div>
  </div>
</div>
