<div class="page-header d-flex align-items-end">
  <div class="container">
    <h1>Schedule</h1>
  </div>
</div>


<div class="container-fluid site-container schedule-wrapper">
  <div class="row schedule-section d-none d-lg-flex">
    <div class="schedule-time p-0 border-0">
    </div>

    <div class="schedule row m-0">
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-green">Room 1</span>
          <!--Startups-->
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-yellow">Room 2</span>
          <!--Women Will-->
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-blue">Room 3</span>
          <!--Developers-->
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-red">Room 4</span>
          <!--Women Tech Maker-->
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-blue">ROOM 5</span>
          <!--Game Room-->
        </div>
      </div> <!-- .room-slot end -->
    </div>
  </div>
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">08</span>
      <span class="minutes">30</span>
    </div>

    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Registration</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / Registration Area</div>
          </div>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">09</span>
      <span class="minutes">15</span>
    </div>

    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Opening & Keynote</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / Registration Area</div>
          </div>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>
  <!-- 10 -->
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">10</span>
      <span class="minutes">00</span>
    </div>
    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Real Super Duper Developer</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 1</div>
            <div class="label-group">
              <div class="label label-solid-green">Web</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Chris Par</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Startup Founder - Product Positioning, Branding and Language</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 2</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Howie Chang</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Leveraging Google to Market Your Startup</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 3</div>
            <div class="label-group">
              <div class="label label-solid-blue">Marketing</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Krista Goon</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Don’t lose your Marbles Over Reactive Programming!</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 4</div>
            <div class="label-group">
              <div class="label label-solid-green">Web</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Wendy Kong</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Game for Entrepreneurs: If Entrepreneurship Were A Game, How Would You Win?</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 5</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Nic Sim</span>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <!-- 11 -->
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">11</span>
      <span class="minutes">00</span>
    </div>
    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Building Chatbot using Dialogflow, Firebase and GCP (Live Coding)</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 1</div>
            <div class="label-group">
              <div class="label label-solid-orange">Firebase</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Jirawat Karanwittayakarn</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Entrepreneurship: Executive Presence for Leaders</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 2</div>
            <div class="label-group">
              <div class="label label-solid-blue">Leadership branding</div>
              <div class="label label-solid-blue">WomenBizSense</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Elizabeth Hor</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Mahir Digital Bersama Google Trainer</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 3</div>
            <div class="label-group">
              <div class="label label-solid-yellow">Google Ads</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Elena Tan</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>UX for Everybody!</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 4</div>
            <div class="label-group">
              <div class="label label-solid-green">User Experience</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Shaza Hakim</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Game for Entrepreneurs: If Entrepreneurship Were A Game, How Would You Win?</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 5</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Nic Sim</span>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">12</span>
      <span class="minutes">00</span>
    </div>

    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Lunch</h4>
          <div class="schedule-meta">
            <div class="hrs">1 Hr</div>
          </div>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <!-- 13 -->
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">13</span>
      <span class="minutes">00</span>
    </div>
    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>The Immersive Web: Bringing AR to the Open Web with WebXR</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 1</div>
            <div class="label-group">
              <div class="label label-solid-green">Web</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Vin Lim</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Founder Story: Recite Lab</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 2</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Ahmad Fairiz & Altimet</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Retirement Planning for the 21st Century</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 3</div>
            <div class="label-group">
              <div class="label label-solid-blue">Financial Planning</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Ooi Ho Seng</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Go Reactive in Flutter with MobX</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 4</div>
            <div class="label-group">
              <div class="label label-solid-yellow">Flutter</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Yong Shean</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Game for Entrepreneurs: If Entrepreneurship Were A Game, How Would You Win?</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 5</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Nic Sim</span>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>


  <!-- 14 -->
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">14</span>
      <span class="minutes">00</span>
    </div>
    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>How CSS evolves, a look back at 2 years of CSS grid</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 1</div>
            <div class="label-group">
              <div class="label label-solid-green">Web</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Hui Jing</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Pratical Tactics to Managing Stress for Entrepreneurs</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 2</div>
            <div class="label-group">
              <div class="label label-solid-blue">Wellness</div>
              <div class="label label-solid-blue">WomenBizSense</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Gina Koay</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Leadership: How to Lead Your Team Successfully</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 3</div>
            <div class="label-group">
              <div class="label label-solid-blue">Communication</div>
              <div class="label label-solid-blue">WomenBizSense</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Joyce Wong</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Cloud Run: From Serverless to Containers with Cloud Run</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 4</div>
            <div class="label-group">
              <div class="label label-solid-green">Cloud</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Thirumalai Aiyalu</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Game for Entrepreneurs: If Entrepreneurship Were A Game, How Would You Win?</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 5</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Nic Sim</span>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <!-- 15 -->
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">15</span>
      <span class="minutes">00</span>
    </div>
    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Lesson learned of delivering the impactful tech product : what and how things are measured</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 1</div>
            <div class="label-group">
              <div class="label label-solid-green">Android</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Sidiq Permana</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Introduction to Google Analytics for Websites & Firebase Analytics for Mobile Apps</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 2</div>
            <div class="label-group">
              <div class="label label-solid-orange">Google Analytics</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Hiew Chee Cheong</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>TBC</h4>
          <div class="schedule-meta">
            <!--<div class="hrs">45 Mins / ROOM 3</div>-->
            <!--<div class="label-group">-->
              <!--<div class="label label-solid-blue">Communication</div>-->
              <!--<div class="label label-solid-blue">WomenBizSense</div>-->
            <!--</div>-->
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <!--<span>Joyce Wong</span>-->
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>From Prototyping to Shipping App, 10x Faster than your Competitors</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 4</div>
            <div class="label-group">
              <div class="label label-solid-red">Machine Learning</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Yin See</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Game for Entrepreneurs: If Entrepreneurship Were A Game, How Would You Win?</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 5</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Nic Sim</span>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <!-- 16 -->
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">16</span>
      <span class="minutes">00</span>
    </div>
    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Project Fugu: Unlocking New Capabilities for the Web</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 1</div>
            <div class="label-group">
              <div class="label label-solid-green">Web</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Arnelle Balane</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Introduction to Google Analytics for Websites & Firebase Analytics for Mobile Apps</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 2</div>
            <div class="label-group">
              <div class="label label-solid-orange">Google Analytics</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Hiew Chee Cheong</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>TBC</h4>
          <div class="schedule-meta">
            <!--<div class="hrs">45 Mins / ROOM 3</div>-->
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <!--<span>TBC</span>-->
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Video Classification with Keras and Tensorflow</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 4</div>
            <div class="label-group">
              <div class="label label-solid-red">Machine Learning</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Christine Tee</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Game for Entrepreneurs: If Entrepreneurship Were A Game, How Would You Win?</h4>
          <div class="schedule-meta">
            <div class="hrs">45 Mins / ROOM 5</div>
            <div class="label-group">
              <div class="label label-solid-blue">Entrepreneurship</div>
            </div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <!--<figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>-->
          <span>Nic Sim</span>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <!-- 1700 -->
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">17</span>
      <span class="minutes">00</span>
    </div>

    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Closing & Lucky Draw</h4>
          <div class="schedule-meta">
            <div class="hrs">30 Mins</div>
          </div>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>
</div>