<div class="page-header d-flex align-items-end">
  <div class="container">
    <h1>Speakers</h1>
  </div>
</div>


<div class="container-fluid site-container schedule-wrapper">
  <div class="row schedule-section d-none d-lg-flex">
    <div class="schedule-time p-0 border-0">
    </div>

    <div class="schedule row m-0">
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-green">Room 1</span>
          Startups
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-yellow">Room 2</span>
          Women Will
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-blue">Room 3</span>
          Developers
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-red">Room 4</span>
          Women Tech Maker
        </div>
      </div> <!-- .room-slot end -->
      <div class="room-slot col-12 col-lg d-flex flex-column">
        <div class="room-details">
          <span class="color-blue">Room 5</span>
          Game Room
        </div>
      </div> <!-- .room-slot end -->
    </div>
  </div>
  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">08</span>
      <span class="minutes">30</span>
    </div>

    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Registration</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">45 Mins / Registration Area</div>
          </div>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">09</span>
      <span class="minutes">15</span>
    </div>

    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Opening & Keynote (Bok from Google)</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">45 Mins / Registration Area</div>
          </div>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>

  <div class="row schedule-section">
    <div class="schedule-time">
      <span class="hours">10</span>
      <span class="minutes">00</span>
    </div>
    <div class="schedule row m-0">
      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Marketing Strategy</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">1 Hrs / ROOM 1</div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>
          <span>Krista Goon</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>Founder Story: Fave</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">1 Hrs / ROOM 1</div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>
          <span>Chen Chow</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>The Immersive Web: Bringing AR to the Open Web with</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">1 Hrs / ROOM 1</div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>
          <span>Vin Lim</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>How CSS evolves, a lookback at 2 years of CSS Grid</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">1 Hrs / ROOM 1</div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>
          <span>Hui Jing</span>
        </div>
      </div> <!-- .slot end -->

      <div class="slot col-12 col-lg d-flex flex-wrap align-content-between">
        <div class="schedule-details">
          <h4>A Game for Entrepreneurs: Business Strategy Through Big Timer</h4>
          <div class="schedule-meta d-flex d-lg-block flex-wrap">
            <div class="hrs">1 Hrs / Hall 1</div>
          </div>
        </div>
        <div class="speaker-info d-flex align-items-center">
          <figure><img src="https://dummyimage.com/50x50/bababa/fff" alt="img"></figure>
          <span>Nic Sim</span>
        </div>
      </div> <!-- .slot end -->
    </div>
  </div>
</div>