/* --------------------------------

Background Color,
Color

-------------------------------- */
@each $name, $color in $colors {
  .bg-#{$name} {
    background: $color;

    &:before {
      opacity: .03;
    }
  }
}

// Color
@each $name, $color in $colors {
  .color-#{$name} {
    color: $color !important;
  }
}

@each $name, $color in $theme-colors {
  .color-#{$name} {
    color: $color !important;
  }
}

/* --------------------------------

Typography

-------------------------------- */
h1 {
  font-weight: $font-weight-normal;
}

p {
  font-size: 14px;
  color: $gray-600;
}

/* --------------------------------

Navi

-------------------------------- */
#navi {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: .3s;

  padding: 10px 0;
  a {
    cursor: pointer;
  }
}

// Logo
#navi .logo-container {
  position: relative;
  z-index: 99;
  flex: 1;
  figure {
    position: relative;
    width: 140px;
    margin: {
      top: 6px;
      //right: 0;
      bottom: 6px;
      //left: 0;
    }
  ;

    a {
      position: relative;
      z-index: 1;
    }

    img {
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    figure {
      margin: {
        top: 26px;
        right: 0;
        bottom: 26px;
        left: 0;
      }
    }
  }
}

// Menu Trigger
.navi-nav-trigger {
  position: relative;
  z-index: 99;
  right: 0;
  top: 0;
  height: 45px;
  width: 45px;
  white-space: nowrap;
  font-size: 0;

  .navi-nav-icon {
    /* icon created in CSS */
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 22px;
    height: 2px;

    background: $gray-900;

    transform: translate(-50%, -50%);
    //transition: .5s;

    &::before, &:after {
      /* upper and lower lines of the menu icon */
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: $gray-900;
      /* Force Hardware Acceleration in WebKit */
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform 0.5s, width 0.5s, top 0.3s;
    }

    &::before {
      transform: translateY(-7px);
      transform-origin: center center;
    }

    &::after {
      transform: translateY(7px);
      transform-origin: center center;
    }
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

/*Menu Open*/
.navigation-is-open {
  //overflow-y: hidden;
}

.navigation-is-open #navi {
  position: fixed;
  top: 0;
  left: 0;
}

.navigation-is-open .navi-nav-trigger .navi-nav-icon {
  background: none;
  &::after,
  &::before {
    /* animate arrow --> from hamburger to arrow */
    transition: transform 0.3s, width 0.3s;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.no-touch .navi-nav-trigger:hover .navi-nav-icon {
  &::after {
    top: 2px;
  }

  &::before {
    top: -2px;
  }
}

.no-touch .navigation-is-open .navi-nav-trigger:hover .navi-nav-icon::after, .no-touch .navigation-is-open .navi-nav-trigger:hover .navi-nav-icon::before {
  top: 0;
}

// Primary Menu
.navi-nav {
  position: relative;
  z-index: 99;

  .navi-primary-nav {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin-right: 33px;
      &:last-of-type {
        margin-right: 0 !important;
      }
    }

    a.navi-link-item {
      display: block;
      font-size: 14px;
      color: $gray-900;
      text-decoration: none;
      opacity: 1;
      &.navi-link-item {
        line-height: 50px;
        @include media-breakpoint-up(lg) {
          line-height: 45px;
        }
      }

      &:hover {
        opacity: .75;
      }

      &.selected {
        opacity: 1;
      }
    }
  }
  .navi-primary-nav {
  }
  @include media-breakpoint-down(md) {
    // .navi-nav
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    //transition: .7s;
    transition: transform .3s;
    transform: translateX(-100%);
    .navi-primary-nav {
      li {
        display: block;
        //margin: 1.6em 0;
      }

      a.navi-link-item {
        &:hover {
        }

        &.selected {
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .navi-navigation-wrapper {
    /* all navigation content */
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 80px 20px 40px;

    background: #fff;

    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-100%) translateZ(0);
    transition: transform .5s;
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  }
}

// Menu Open on Medium and Small Devices
@include media-breakpoint-down(lg) {
  /*Menu Open*/
  .navigation-is-open {
    .navi-nav {
      transform: translateX(0);
      transition: transform .5s;
      .navi-navigation-wrapper {
        transform: translateX(0);
        transition: transform .4s;
        transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      }
    }
  }
}

/* --------------------------------

Footer

-------------------------------- */
.ft-nav {
  .ft-link {
    &-block {
      margin-right: 120px;
    }

    // Under ft-link-block
    &-header {
      font-size: 18px;
      color: $gray-700;
      margin-bottom: 25px;
    }
    &-list {
      margin: 0;
      li {
        margin-bottom: 8px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      a {
        font-size: 14px;
        color: $gray-600;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 20px 0;
      &-block {
        padding: 20px 0;
      }
    }
    @include media-breakpoint-down(sm) {
      &-block {
        width: 100%;
        margin-right: 0;
        &:first-of-type {
          .ft-link {
            &-header {
              border-top: none;
            }
          }
        }
        &.active {
          margin-bottom: 20px;
          .ft-link {
            &-header {
              border-bottom: 1px solid #DEDEDE;
              margin-bottom: 20px;
              background-image: url('/assets/icons/arrow-up.png');
            }
            &-list {
              display: block;
            }
          }
        }
      }
      &-header {
        margin: 0;
        padding: 30px 0;
        border-top: 1px solid #DEDEDE;

        background-image: url('/assets/icons/arrow-down.png');
        background-size: 12px;
        background-position: right 6px center;
        background-repeat: no-repeat;
      }
      &-list {
        display: none;
      }
    }
  }
}

.ft-copyright {
  padding: 40px 0;
  border-top: 1px solid #DEDEDE;

  font-size: 12px;
  color: $gray-600;
  @include media-breakpoint-up(md) {
    padding: 48px 0 30px;
  }
}

/* --------------------------------

Button

-------------------------------- */
.btn {
  border-top-left-radius: 0;
  transition: border-radius .3s;
  &:hover {
    border-top-left-radius: 16px;
    border-bottom-right-radius: 0;
  }
  &-with {
    &-link {
      &:after {
        content: url('/assets/icons/open_in_new.svg');
        width: 10px;
        height: 10px;
        margin-left: 16px;
      }
    }
  }
}

/* --------------------------------

Speaker card

-------------------------------- */
.speaker-card {
  cursor: pointer;
  margin-bottom: 90px;
  .speaker-image {
    position: relative;
    display: inline-block;
    padding-left: 50px;
    margin-bottom: 20px;
    &:before,
    &:after {
      position: absolute;
    }

    figure {
      position: relative;
      z-index: 1;
      display: block;
      margin-bottom: 0;
      img {
        width: 100%;
      }
      &:before,
      &:after {
        position: absolute;
      }
    }
    span {
      position: absolute;
      &:before,
      &:after {
        position: absolute;
      }
    }
  }
  .speaker-details {
    .name {
      font-size: 18px;
    }
    .info {
      font-size: 14px;
      color: $gray-600;
    }
  }
  &:first-of-type,
  &:nth-child(4n+1) {
    .speaker-image {
      figure {
        img {
          border-top-right-radius: 130px;
          border-bottom-right-radius: 130px;
        }
        &:before {
          bottom: 23px;
          left: 0;
          transform: translate(-50%, 0);

          content: '';
          width: 37px;
          height: 13px;
          background: $blue;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
        }
      }
      span {
        width: 33%;
        height: 105%;
        left: 0;
        bottom: 0;
        background: $medium-blue;
        &:before {
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);

          content: '';
          width: 20px;
          height: 12px;
          border-top: 1px solid $blue;
          border-bottom: 1px solid $blue;
        }
      }
    }
  }
  &:nth-child(4n+2) {
    .speaker-image {
      figure {
        img {
          border-top-right-radius: 60px;
          border-bottom-right-radius: 60px;
        }
        &:before {
          content: url('/assets/icons/dialog_red.svg');
          left: 0;
          top: 40%;
          transform: translateX(-50%);
        }
      }
      span {
        width: 33%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: $light-red;
        &:before {
          left: 0;
          bottom: 16%;
          transform: translate(-25%, 0);

          content: '';
          width: 22px;
          height: 16px;
          background: $red;
        }
      }
    }
  }
  &:nth-child(4n+3) {
    .speaker-image {
      figure {
        img {
          border-bottom-left-radius: 60px;
        }
        &:before {
          bottom: 31px;
          right: 0;
          transform: translate(50%, 0);

          content: '';
          width: 45px;
          height: 16px;
          background: $green;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
        }
      }
      span {
        width: 100%;
        height: 85.5%;
        top: -12%;
        left: 0;
        margin-bottom: 14.5%;
        background: $light-green;
        &:before,
        &:after {
          top: 30%;
          left: 6px;
          transform: translateX(-50%);

          content: '';
          width: 24px;
          height: 1px;
          border-top: 1px solid $green;
        }
        &:after {
          transform: translateX(-50%) rotate(90deg);
        }
      }
    }
  }
  &:nth-child(4n+4) {
    .speaker-image {
      figure {
        img {
          border-bottom-right-radius: 60px;
        }

        &:before {
          content: url('/assets/icons/earth_yellow.svg');
          left: 0;
          bottom: 0;
          transform: translateX(-85%);
        }
        &:after {
          content: '';
          top: -5px;
          right: 8px;
          width: 10px;
          height: 10px;
          background: $yellow;
          transform: rotate(45deg);
        }
      }
      span {
        width: 100%;
        height: 100%;
        top: -8%;
        left: 0;
        background-image: url('/assets/images/speaker-card-background_yellow.svg');
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
      }
    }
  }
}