<div class="bg-pattern">
  <div class="dialog-header">
    <div class="dialog-container d-flex align-items-center">
      <div class="profile-image">
        <figure [ngStyle]="{ 'background-image': 'url(../assets/images/speakers/' + data.photo_url + '.jpg)'}"></figure>
      </div>
      <div class="header-title">
        <h3 mat-dialog-title>
          {{data.name}}
        </h3>
        <span>
          {{data.title}}
        </span>
      </div>
    </div>
  </div>

  <div mat-dialog-content class="dialog-content">
    <div class="dialog-container">
      <h5>
        {{data.background}}
      </h5>
      <p class="bio-detail" [innerHTML]="htmlBio"></p>
    </div>
  </div>
</div>
