<div class="bg-pattern">
  <div class="dialog-header">
    <div class="dialog-container d-flex align-items-center">
      <div class="profile-image">
        <figure [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/277x269.png)'}"></figure>
      </div>
      <div class="header-title">
        <h3 mat-dialog-title>
          <!--{{data.name}}-->
          Name
        </h3>
        <span>
          <!--{{data.title}}-->
          Title
        </span>
      </div>
    </div>
  </div>

  <div mat-dialog-content class="dialog-content">
    <div class="dialog-container">
      <h5>
        <!--{{data.background}}-->
        Principal Data Scientist, Coqnitics Sdn Bhd
      </h5>
      <!--<p class="bio-detail" [innerHTML]="htmlBio"></p>-->

      <p class="bio-detail">
        Backed with 15 years working as Senior Lecturer and Researcher experience at Multimedia University, Kuan Hoong is always striving to improve his expertise and knowledge in the area of Big Data Analytics (BDA), Machine Learning (ML) and Artificial Intelligence (AI). Currently, he is working as Principal Machine Learning Engineer at ADA. Besides work, Kuan Hoong is also passionate about building communities in Malaysia. He founded the Malaysia R User Group and TensorFlow & Deep Learning Malaysia User Group. He organizes monthly meetup and knowledge for both user groups. He is Google Developers Experts (GDE) for Machine Learning in Malaysia.
      </p>
    </div>
  </div>
</div>
