.dialog-container {
  width: 100%;
  max-width: 584px;
  margin: 0 auto;
}

.dialog-header {
  position: relative;
  padding: 20px;
  padding-bottom: 0;
  & > * {
    padding-bottom: 25px;
    border-bottom: 1px solid #F1F3F4;
  }
}

.profile-image {
  width: 100%;
  max-width: 100px;
  margin: 0;
  margin-right: 20px;
  //border-radius: 50%;
  border-radius: 0 35% 35% 0;
  overflow: hidden;

  figure {
    width: 100%;
    margin: 0;
    padding-top: 100%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.dialog-content {
  padding: 20px;
  padding-top: 25px;
  background: #fff;
  overflow-y: auto;

  flex: 1;

  //min-height: 300px;
  max-height: 50vh;

  h5 {
    font-size: 14px;
  }
  p{
    white-space: pre-line;
    line-height: 1.6;
    margin-bottom: 0;
  }
}